{% extends "base.html" %}
{% block content %}
      <div class="row">
      <div class="col-sm-2">
        <span id="coords">Coords</span>
      </div>
      <div id="map" class="col-sm-8" style="height:480px"></div>
      <div class="col-sm-2 text-left">
          <input type="checkbox" value="Openstreet Maps" checked="checked" onclick="(this.checked?map.addLayer(openstreet_maps):map.removeLayer(openstreet_maps))"> Openstreet Maps<br>
          <input type="checkbox" value="Google Maps" onclick="(this.checked?map.addLayer(google_maps):map.removeLayer(google_maps))"> Google Maps<br>
          <input type="checkbox" value="Ortofoto AGEA" onclick="(this.checked?map.addLayer(ortofoto_agea):map.removeLayer(ortofoto_agea))"> Ortofoto AGEA 2011<br>
          <input type="checkbox" value="Ortofoto AGEA IR" onclick="(this.checked?map.addLayer(ortofoto_agea_ir):map.removeLayer(ortofoto_agea_ir))"> Ortofoto AGEA IR 2011<br>
          <input type="checkbox" value="Carta Tecnica Regionale" onclick="(this.checked?map.addLayer(carta_tecnica_regionale):map.removeLayer(carta_tecnica_regionale))"> Carta Tecnica Regionale 1:5.000<br>
          <input type="checkbox" value="Bing Maps" onclick="(this.checked?map.addLayer(bing_maps):map.removeLayer(bing_maps))"> Bing<br>
      </div>
      </div>
{% endblock %}
{% block scripts %}
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.awesome-markers.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <style type="text/css">
       .marker-list {
          list-style-type:none
        }
    </style>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
    <script src="http://matchingnotes.com/javascripts/leaflet-google.js"></script>
    <script src="{{ url_for('static', filename='js/Bing.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/leaflet.awesome-markers.js') }}"></script> -->
    <script type="text/javascript">



    // create a map in the "map" div, set the view to a given place and zoom
    var map = L.map('map').setView([44.30813, 11.29395], 10);
    var idc = 0;

    function getId() {
      return 'mk' + idc++;
    }

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            console.log("Geolocation is not supported by this browser.");
        }
    }

    function showPosition(position) {
        map.setView([position.coords.latitude, position.coords.longitude], 13);
            // add a marker in the given location, attach some popup content to it and open the popup
        mark = L.marker([position.coords.latitude, position.coords.longitude],
                 {draggable: true}).addTo(map)
            .bindPopup('Your location')
            .openPopup();
    }

    function onMapClick(e) {
        tid = getId();
        console.log(tid);

        marker = new L.marker(e.latlng, {
          id: tid,
          draggable: 'true'
        });

        // when marker stop drag show a popup with lat & lon
        marker.on('dragend', function(e){
            var position = this.getLatLng().toString();
            this.bindPopup(position).openPopup();
        });

        // when click edit marker
        marker.on('dblclick', function(e){
            var html = '<form><div class="form-group"><input type="text" placeholder="Title"/></div><div class="form-group"><button type="submit" class="btn btn-xs btn-primary">Save</button></div></form>';
            this.bindPopup(html).openPopup();
        });

        map.addLayer(marker);
    };

    // event to add a marker
    map.on('dblclick', onMapClick);

    // OpenStreetMap tile layer
    var openstreet_maps = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    });

    var google_maps = new L.Google('ROADMAP');
    // Agea ortofoto tile layer
    var ortofoto_agea = L.tileLayer.wms("http://servizigis.regione.emilia-romagna.it/wms/agea2011_rgb", {
        layers: 'DBTR2013_Ctr5',
        format: 'image/png',
        transparent: true,
        attribution: "Ortofoto RGB © 2011 AGEA"
    });

    var ortofoto_agea_ir = L.tileLayer.wms("http://servizigis.regione.emilia-romagna.it/wms/agea2011_ir", {
        layers: 'DBTR2013_Ctr5',
        format: 'image/png',
        transparent: true,
        attribution: "Carta Tecnica Regionale 1:5.000 - MonoFull - DBTR 2008"
    });

    var carta_tecnica_regionale = L.tileLayer.wms("http://servizigis.regione.emilia-romagna.it/wms/dbtr2008_ctr5", {
        layers: 'DBTR2013_Ctr5',
        format: 'image/png',
        transparent: true,
        attribution: "Carta Tecnica Regionale 1:5.000 - MonoFull - DBTR 2008"
    });

    var bing_maps = new L.BingLayer('AvkEtrY5xBvN1RdJP9BGyieAFWosHgBipIBXeCYUnf2_DBeZaAeSHCSVQvZQbgZB');

/*    carta_tecnica_regionale.addTo(map);
    ortofoto_agea.addTo(map);
    ortofoto_agea_ir.addTo(map);*/
    openstreet_maps.addTo(map);

    getLocation();

    </script>
{% endblock %}
